<div class="container">

  <div style="text-align: center; margin: 3%;">
    <h2>Actualizar Tipo de Acuerdo</h2>
  </div>

  <div style="text-align: center; margin: 3%;">

    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" readonly>
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Nombre del Tipo de Acuerdo</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Custodia Compartida">
      </mat-form-field>

      <br>

      <div>
        <button matButton="elevated">
          Actualizar
        </button>
      </div>

    </form>

  </div>

</div>