<mat-toolbar class="custom-toolbar">
  @if (verificar()) {
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
      Módulos
    </button>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="menuUsuario">
      <mat-icon>person</mat-icon>
      Usuario
    </button>
  }
</mat-toolbar>



<mat-menu #menu="matMenu">
  @if (isAdmin()) {
    <button mat-menu-item [matMenuTriggerFor]="rolMenu">
      <mat-icon>badge</mat-icon>
      Roles
    </button>

    <button mat-menu-item [matMenuTriggerFor]="userMenu">
      <mat-icon>people</mat-icon>
      Usuarios
    </button>

    <button mat-menu-item [matMenuTriggerFor]="familyMenu">
      <mat-icon>groups</mat-icon>
      Familias
    </button>

    <button mat-menu-item [matMenuTriggerFor]="eventMenu">
      <mat-icon>event</mat-icon>
      Eventos
    </button>
    <button mat-menu-item [matMenuTriggerFor]="agreementTypeMenu">
      <mat-icon>handshake</mat-icon>
      Tipo de Acuerdo
    </button>
    <button mat-menu-item [matMenuTriggerFor]="gastoMenu">
      <mat-icon>payments</mat-icon>
      Gasto
    </button>
    <button mat-menu-item [matMenuTriggerFor]="tipogastoMenu">
      <mat-icon>payments</mat-icon>
      Tipo de gasto
    </button>
    <button mat-menu-item [matMenuTriggerFor]="agreementMenu">
      <mat-icon>handshake</mat-icon>
      Acuerdos
  </button>
  }

  @if (isPadre()) {
    <button mat-menu-item [matMenuTriggerFor]="familyMenu">
      <mat-icon>groups</mat-icon>
      Familias
    </button>

    <button mat-menu-item [matMenuTriggerFor]="eventMenu">
      <mat-icon>event</mat-icon>
      Eventos
    </button>

    <button mat-menu-item [matMenuTriggerFor]="chatMenu">
      <mat-icon>chat</mat-icon>
      Chat emocional
    </button>

    <button mat-menu-item [matMenuTriggerFor]="gastoMenu">
      <mat-icon>payments</mat-icon>
      Gasto
    </button>

    <button mat-menu-item [matMenuTriggerFor]="agreementMenu">
      <mat-icon>handshake</mat-icon>
      Acuerdos
  </button>
  }

  @if (isTutor()) {
    <button mat-menu-item [matMenuTriggerFor]="familyMenu">
      <mat-icon>groups</mat-icon>
      Familias
    </button>

    <button mat-menu-item [matMenuTriggerFor]="eventMenu">
      <mat-icon>event</mat-icon>
      Eventos
    </button>

    <button mat-menu-item [matMenuTriggerFor]="gastoMenu">
      <mat-icon>payments</mat-icon>
      Gasto
    </button>

    <button mat-menu-item [matMenuTriggerFor]="agreementMenu">
      <mat-icon>handshake</mat-icon>
      Acuerdos
  </button>
  }

  @if (isHijo()) {
    <button mat-menu-item>
      <mat-icon>school</mat-icon>
      Mis eventos
    </button>
  }
</mat-menu>

<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    Cerrar sesión
  </button>

  <button mat-menu-item disabled>
    <mat-icon>badge</mat-icon>
    Rol: {{ role }}
  </button>
</mat-menu>

<mat-menu #rolMenu="matMenu">
  <button mat-menu-item routerLink="/role/list">
    <mat-icon>list</mat-icon>
    Listar roles
  </button>
</mat-menu>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/users/insert">
    <mat-icon>add</mat-icon>
    Registrar usuario
  </button>

  <button mat-menu-item routerLink="/users/list">
    <mat-icon>list</mat-icon>
    Listar usuarios
  </button>
</mat-menu>

<mat-menu #familyMenu="matMenu">
  <button mat-menu-item routerLink="/families/list">
    <mat-icon>list</mat-icon>
    Listar familias
  </button>

  <button mat-menu-item routerLink="/families/insert">
    <mat-icon>add</mat-icon>
    Crear familia
  </button>
</mat-menu>

<mat-menu #eventMenu="matMenu">
  <button mat-menu-item routerLink="/events/list">
    <mat-icon>list</mat-icon>
    Listar eventos
  </button>

  <button mat-menu-item routerLink="/events/insert">
    <mat-icon>add</mat-icon>
    Crear evento
  </button>
</mat-menu>

<mat-menu #chatMenu="matMenu">
  <button mat-menu-item routerLink="/chats/insert">
    <mat-icon>add</mat-icon>
    Nuevo chat
  </button>

  <button mat-menu-item routerLink="/chats/list">
    <mat-icon>list</mat-icon>
    Lista chats
  </button>

  <button mat-menu-item routerLink="/chats/bot/:idChat">
    <mat-icon>IA</mat-icon>
    Bot
  </button>
</mat-menu>

<mat-menu #gastoMenu="matMenu">
  <button mat-menu-item routerLink="/expense/listar">
    <mat-icon>list</mat-icon>
    Listar gasto
  </button>

  <button mat-menu-item routerLink="/expense/register">
    <mat-icon>add</mat-icon>
    Registrar gasto
  </button>
</mat-menu>

<mat-menu #tipogastoMenu="matMenu">
  <button mat-menu-item routerLink="/expensestype/listar">
    <mat-icon>list</mat-icon>
    Listar tipos de gasto
  </button>

  <button mat-menu-item routerLink="/expensestype/register">
    <mat-icon>add</mat-icon>
    Registrar tipo de gasto
  </button>
</mat-menu>
<mat-menu #agreementTypeMenu="matMenu">

  <button mat-menu-item routerLink="/agreementtype/list">
    <mat-icon>list</mat-icon>
    Listar tipos de acuerdo
  </button>

  <button mat-menu-item routerLink="/agreementtype/register">
    <mat-icon>add</mat-icon>
    Registrar tipo de acuerdo
  </button>

</mat-menu>
<mat-menu #agreementMenu="matMenu">

  <button mat-menu-item routerLink="/agreement/list">
    <mat-icon>list</mat-icon>
    Listar acuerdos
  </button>

  <button mat-menu-item routerLink="/agreement/register">
    <mat-icon>add</mat-icon>
    Registrar acuerdo
  </button>

</mat-menu>

