<div class="container">
  <h2>Lista de eventos</h2>

  <div class="filtro-eventos">
    <mat-radio-group [(ngModel)]="filtroSeleccionado" (change)="onFiltroChange()">
      <mat-radio-button value="todos">Todos los eventos</mat-radio-button>
      <mat-radio-button value="mios">Mis eventos</mat-radio-button>
      <mat-radio-button value="familia">Eventos de mi familia</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="cards-container">
    @for (element of dataSource.connect() | async; track element.idEvent) {
    <mat-card class="evento-card">
      <mat-card-header>
        <mat-card-title>{{ element.titleEvent }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p><span class="label">Detalles:</span> {{ element.detailsEvent }}</p>
        <p><span class="label">Ubicación:</span> {{ element.locationEvent }}</p>
        <p><span class="label">Fecha Inicio:</span> {{ element.startDateEvent }}</p>
        <p><span class="label">Fecha Fin:</span> {{ element.endDateEvent }}</p>
        <p><span class="label">Fecha de Creación:</span> {{ element.creationDateEvent }}</p>
        <p><span class="label">Creador:</span> {{ element.idUser }}</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button class="btn-accion" (click)="eliminar(element.idEvent)">
          <mat-icon>delete</mat-icon>
        </button>
        <button class="btn-accion" [routerLink]="['/events/update', element.idEvent]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    }
  </div>

  <mat-paginator [length]="dataSource.data.length" [pageSize]="6" [pageSizeOptions]="[6, 12, 24]" showFirstLastButtons>
  </mat-paginator>

  <h2 class="calendar-title">Calendario</h2>
  <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>