:host ::ng-deep .mat-column-c2 {
  min-width: 180px;
}

:host ::ng-deep .mat-column-c3 {
  min-width: 300px;
}

:host ::ng-deep .mat-column-c4 {
  min-width: 150px;
}

:host ::ng-deep .mat-column-c5,
:host ::ng-deep .mat-column-c6 {
  width: 120px;
  text-align: center;
}