<div class="container">
  <div style="text-align: center; margin: 3%;">
    <h2>Actualizar Evento</h2>
  </div>
  <div style="text-align: center; margin: 3%;">
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput placeholder="Identificador" formControlName="id" readonly="true" />
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Título del evento</mat-label>
        <input matInput placeholder="Cena familiar" formControlName="title" />
        @if (form.get('title')?.hasError('required')) {
        <mat-error>El título es obligatorio</mat-error>
        }
        @if (form.get('title')?.hasError('maxlength')) {
        <mat-error>Máximo 50 caracteres</mat-error>
        }
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Detalles</mat-label>
        <textarea matInput formControlName="details"></textarea>
        @if (form.get('details')?.hasError('required')) {
        <mat-error>Los detalles son obligatorios</mat-error>
        }
        @if (form.get('details')?.hasError('maxlength')) {
        <mat-error>Máximo 100 caracteres</mat-error>
        }
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startdate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        @if (form.get('startdate')?.hasError('required')) {
        <mat-error>La fecha de inicio es obligatoria</mat-error>
        }
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Fecha fin</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="enddate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        @if (form.get('enddate')?.hasError('required')) {
        <mat-error>La fecha fin es obligatoria</mat-error>
        }
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Fecha de creación</mat-label>
        <input matInput [matDatepicker]="picker3" formControlName="creationdate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        @if (form.get('creationdate')?.hasError('required')) {
        <mat-error>La fecha de creación es obligatoria</mat-error>
        }
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Ubicación</mat-label>
        <input matInput placeholder="Calle las flores 123" formControlName="location" />
        @if (form.get('location')?.hasError('required')) {
        <mat-error>La ubicación es obligatoria</mat-error>
        }
        @if (form.get('location')?.hasError('maxlength')) {
        <mat-error>Máximo 50 caracteres</mat-error>
        }
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>ID Usuario</mat-label>
        <input matInput placeholder="IdentificadorUsuario" formControlName="iduser" readonly="true" />
      </mat-form-field>
      <br />

      <div>
        <button mat-raised-button type="submit">Actualizar</button>
        &nbsp;
        <button mat-raised-button type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>